<template>
  <q-page>
      <!-- content -->
      <q-card class="my-card" v-if="restaurantFilter" style="height: 480px">
        <q-carousel arrows animated  infinite v-model="slide" height="250px" v-if="restaurantFilter.foods.data.length >= 1">
          <q-carousel-slide v-for="(food, idx) in restaurantFilter.foods.data" :key="idx" :name="idx" :img-src="urlImg + '/image/food/' + food.images.data[0].path">
            <div class="absolute-bottom custom-caption">
              <div class="text-h6 text-left">{{restaurantFilter.name}}</div>
                <a style="color: black; position: absolute; right: 20px; top: 10px" :href="'https://www.waze.com/ul?ll=' + restaurantFilter.lat + ',' + restaurantFilter.lng + '&navigate=yes&zoom=17'">
                  <q-icon name="img:statics/waze.svg" size="24px" />
                </a>
            </div>
          </q-carousel-slide>
        </q-carousel>
        <q-img v-if="restaurantFilter.foods.data.length < 1" :src="urlImg + '/image/restaurant/' + restaurantFilter.images.data[0].path">
            <div class="absolute-bottom custom-caption">
              <div class="text-h6 text-left q-pl-sm" style="font-size: 12px !important">{{restaurantFilter.name}}</div>
              <a style="color: black; position: absolute; right: 20px; top: 10px" :href="'https://www.waze.com/ul?ll=' + restaurantFilter.lat + ',' + restaurantFilter.lng + '&navigate=yes&zoom=17'">
                  <q-icon name="img:statics/waze.svg" size="24px" />
                </a>
            </div>
          </q-img>
        <q-list class="q-mt-sm">
          <q-item clickable>
            <q-item-section avatar style="margin-left: 0px">
              <q-icon style="height: 30px" color="black" name="img:statics/tipodecomida.svg" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-weight-bolder font-500">Tipo de comida</q-item-label>
              <q-item-label caption class="text-black">{{restaurantFilter.foodType.name}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="black" name="img:statics/direccion.svg" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-weight-bolder font-500">Dirección</q-item-label>
              <q-item-label caption class="text-black">{{restaurantFilter.address}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="black" name="img:statics/apertura.svg" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-weight-bolder font-500">Horario</q-item-label>
              <q-item-label caption class="text-black">{{restaurantFilter.hour_open}}<span v-if=" restaurantFilter.hour_open < '12:00:00'"> Am</span><span v-if=" restaurantFilter.hour_open > '12:00:00'"> Pm</span> - {{restaurantFilter.hour_close}} <span v-if="restaurantFilter.hour_close > '12:00:00'"> Pm</span><span v-if="restaurantFilter.hour_close < '12:00:00'"> Am</span> </q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section avatar>
              <q-icon color="black" name="img:statics/telefono.svg" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-weight-bolder font-500">Teléfono</q-item-label>
              <q-item-label caption class="text-black">{{restaurantFilter.phone}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list><br>
      </q-card>
    <div class="row q-pa-md bg-black" v-if="restaurantFilter.foods.data.length >= 1">
          <div class="col-sm-12 col-xs-12">
            <h6 class="text-h6 text-white">Carta del restaurante</h6>
          </div>
          <div v-if="entrada.length >= 1" class="col-sm-12 col-xs-12">
            <h6 class="text-h6 text-white" style="font-size: 14px">Entradas</h6>
          </div>
           <q-list v-if="entrada.length >= 1" bordered class="rounded-borders" style="width:100%">
            <q-expansion-item switch-toggle-side v-for="(food, idx) in entrada" :key="idx" expand-separator class="text-white custom-item">
              <template v-slot:header>
                <q-item-section class="text-weight-bolder">
                  {{food.name}}
                </q-item-section>
                <q-item-section side class="text-white text-weight-bolder">
                  <div v-if="food.price.toString().length >= 5">
                    ${{food.price.toString().substr(0, 2)}}.{{food.price.toString().substr(2)}}
                  </div>
                  <div v-if="food.price.toString().length == 4">
                    ${{food.price.toString().substr(0, 1)}}.{{food.price.toString().substr(1)}}
                  </div>
                </q-item-section>
              </template>
              <q-card class="text-black text-justify">
                <q-card-section>
                  {{food.description}}
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
          <div v-if="platoFuerte.length >= 1" class="col-sm-12 col-xs-12">
            <h6 class="text-h6 text-white" style="font-size: 14px">Plato Fuerte</h6>
          </div>
           <q-list v-if="platoFuerte.length >= 1" bordered class="rounded-borders" style="width:100%">
            <q-expansion-item switch-toggle-side v-for="(food, idx) in platoFuerte" :key="idx" expand-separator class="text-white custom-item">
              <template v-slot:header>
                <q-item-section class="text-weight-bolder">
                  {{food.name}}
                </q-item-section>
                <q-item-section side class="text-white text-weight-bolder">
                  <div v-if="food.price.toString().length >= 5">
                    ${{food.price.toString().substr(0, 2)}}.{{food.price.toString().substr(2)}}
                  </div>
                  <div v-if="food.price.toString().length == 4">
                    ${{food.price.toString().substr(0, 1)}}.{{food.price.toString().substr(1)}}
                  </div>
                </q-item-section>
              </template>
              <q-card class="text-black text-justify">
                <q-card-section>
                  {{food.description}}
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
          <div v-if="postre.length >= 1" class="col-sm-12 col-xs-12">
            <h6 class="text-h6 text-white" style="font-size: 14px">Postres</h6>
          </div>
           <q-list v-if="postre.length >= 1" bordered class="rounded-borders" style="width:100%">
            <q-expansion-item switch-toggle-side v-for="(food, idx) in postre" :key="idx" expand-separator class="text-white custom-item">
              <template v-slot:header>
                <q-item-section class="text-weight-bolder">
                  {{food.name}}
                </q-item-section>
                <q-item-section side class="text-white text-weight-bolder">
                  <div v-if="food.price.toString().length >= 5">
                    ${{food.price.toString().substr(0, 2)}}.{{food.price.toString().substr(2)}}
                  </div>
                  <div v-if="food.price.toString().length == 4">
                    ${{food.price.toString().substr(0, 1)}}.{{food.price.toString().substr(1)}}
                  </div>
                </q-item-section>
              </template>
              <q-card class="text-black text-justify">
                <q-card-section>
                  {{food.description}}
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
          <div v-if="bebidas.length >= 1" class="col-sm-12 col-xs-12">
            <h6 class="text-h6 text-white" style="font-size: 14px">Bebidas</h6>
          </div>
           <q-list v-if="bebidas.length >= 1" bordered class="rounded-borders" style="width:100%">
            <q-expansion-item switch-toggle-side v-for="(food, idx) in bebidas" :key="idx" expand-separator class="text-white custom-item">
              <template v-slot:header>
                <q-item-section class="text-weight-bolder">
                  {{food.name}}
                </q-item-section>
                <q-item-section side class="text-white text-weight-bolder">
                  <div v-if="food.price.toString().length >= 5">
                    ${{food.price.toString().substr(0, 2)}}.{{food.price.toString().substr(2)}}
                  </div>
                  <div v-if="food.price.toString().length == 4">
                    ${{food.price.toString().substr(0, 1)}}.{{food.price.toString().substr(1)}}
                  </div>
                </q-item-section>
              </template>
              <q-card class="text-black text-justify">
                <q-card-section>
                  {{food.description}}
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
  </q-page>
</template>

<script>
  import { domainImg } from '../../api/data'

  export default {
  // name: 'PageName',
  computed:{
    restaurants () {
      return this.$store.getters['restaurant/restaurantLists']
    }
  },
  data () {
    return {
      restaurantId: this.$route.params.id,
      restaurantFilter: [],
      urlImg: domainImg,
      slide: 'food',
      slide: 0,
      slider2: 0,
      lat: null,
      lng: null,
      bebidas: [],
      entrada: [],
      platoFuerte: [],
      postre: []
    }
  },
  methods: {
    filterRestaurant (data) {
      this.restaurantFilter = data
    },
    filterFood (id) {
      let data = { food: id }
      this.$store.dispatch('filter/filterFoodById', data)
      .then((resp) => {
        this.routerPush('/dashboard/foods/filter')
      })
      .catch(err => 
        alert(err) 
      )
    },
    routerPush (key) {
      this.$router.push({ path: key })
    },
    openWaze () {
      this.lat = this.restaurantFilter.lat
      this.lng = this.restaurantFilter.lng
      WazeNavigator.navigateByPosition({
        lat: this.lat,
        lng: this.lng
      })
    }
  },
  beforeMount () {
    for (var i = 0; i < this.restaurants.length; i++) {
      if (parseInt(this.restaurants[i].id) == parseInt(this.restaurantId)) {
        this.filterRestaurant(this.restaurants[i])
        for (var e = 0; e < this.restaurants[i].foods.data.length; e++) {
          if (this.restaurants[i].foods.data[e].typePlatillo.id == 1) {
            this.entrada.push(this.restaurants[i].foods.data[e])
          } else if (this.restaurants[i].foods.data[e].typePlatillo.id == 2) {
            this.platoFuerte.push(this.restaurants[i].foods.data[e])
          } else if (this.restaurants[i].foods.data[e].typePlatillo.id == 3) {
            this.postre.push(this.restaurants[i].foods.data[e])
          } else if (this.restaurants[i].foods.data[e].typePlatillo.id == 4) {
            this.bebidas.push(this.restaurants[i].foods.data[e])
          }
        }
      }
    }
  }
}
</script>