<template>
  <q-page>
		<q-card class="fullscreen bg-custom  text-white text-bold">
			<div class="user-card-overlay">
				<img src="../../statics/bg1.jpg" style="width: 100%; height:100vh" />
				<div class="col-xs-12 col-sm-12" style="width: 100%;position: absolute; top:10%;z-index: 2 !important">
					<center><h5 class="text-h4 text-bold text-center"><img src="../../statics/LOGO-WHITE-EM.png" width="30px" style="margin-top: 30px"> <span style="margin-left:10px">EatsMedellin</span></h5></center>
				</div>
				<q-card-section class="row absolute-bottom q-pb-lg q-mb-lg bottom-5" >
					<div style="width:90%; position: absolute; top: 20%; left:20px">
						<div class="com-sm-12 col-xs-12 q-mt-lg">
				          <vs-input disabled label="Name" v-model="userChangepassword.name" type="text" placeholder-color="red" label-placeholder="Usuario" color="white" style="width:100%; color:white" placeholder="" />
				        </div>
						<div class="com-sm-12 col-xs-12 q-mt-lg">
				          <vs-input label="Name" v-model="user.password" type="password" placeholder-color="red" label-placeholder="Contraseña" color="white" style="width:100%; color:white" placeholder="" />
				          <span v-if="submit && !$v.user.password.required" class="text-red-8">Por favor ingresa tu contraseña</span>
				        </div>
				        <div class="com-sm-12 col-xs-12 q-mt-lg">
				          <vs-input label="Name" v-model="user.password_confirm" type="password" placeholder-color="red" label-placeholder="Confirma tu Contraseña" color="white" style="width:100%; color:white" placeholder="" />
				          <span v-if="submit && !$v.user.password_confirm.required" class="text-red-8">Por favor confirma tu contraseña</span>
				          <span v-if="submit && !$v.user.password_confirm.sameAsPassword" class="text-red-8">¡Las contraseñas no coinciden!</span>
				        </div>
						<div class="col-sm-12 col-xs-12 q-mt-lg q-mb-lg">
							<center><vs-button color="white" id="user-button" text-color="rgb(10, 20, 30)" @click="changePassword">Cambiar Contraseña</vs-button></center>
						</div>
					</div>
				</q-card-section>
			</div>
		</q-card>
  </q-page>
</template>

<script>
const { required, sameAs } = require('vuelidate/lib/validators')
import { Notify } from 'quasar'

export default {
  // name: 'PageName',
  computed: {
  	userChangepassword () {
  	  return this.$store.getters['auth/getUserIdToEdit']
  	}
  },
  validations: {
    user: {
      password: {
        required
      },
      password_confirm: {
      	required,
      	sameAsPassword: sameAs('password')
      }
    }
  },
  data () {
  	return {
  		submit: false,
  		user: {}
  	}
  },
  methods: {
  	changePassword () {
  		this.submit = true
			this.$v.$touch()
			if (this.$v.$invalid) {
				return
			}
			this.user.id = this.userChangepassword.id
			let user = this.user
  		this.$store.dispatch('auth/sendNewPassWord', { user })
				.then((resp) => {
					if (resp.data.success) {
						Notify.create({
							message: resp.data.success,
							type: 'positive',
							color: 'green-8',
							position: 'bottom-right'
						})
						this.routerPush('/login')
					}
				})
				.catch(err => 
					alert(err)
				)
  	},
  	routerPush (key) {
  		this.$router.push({ path: key })
  	}
  }
}
</script>
