<template>
    <q-page>
		<q-card class="fullscreen bg-custom  text-white text-bold">
			<div class="user-card-overlay">
				<img src="../../statics/bg1.jpg" style="width: 100%; height:100vh" />
				<div class="col-xs-12 col-sm-12" style="width: 100%;position: absolute; top:15%;z-index: 2 !important">
					<center><h5 class="text-h4 text-bold text-center"><img src="../../statics/LOGO-WHITE-EM.png" width="30px" style="margin-top: 30px"> <span style="margin-left:10px">EatsMedellin</span></h5></center>
				</div>
				<q-card-section class="row absolute-bottom q-pb-lg q-mb-lg bottom-5" >
					<div style="width:90%; position: absolute; top: 25%; left:20px">
						<div class="col-sm-6 col-xs-12">
							<div class="centerx labelx">
							<vs-input label="Name" v-model="user.email" type="email" placeholder-color="red" label-placeholder="EMAIL" color="white" style="width:100%" placeholder="" />
							</div>
							<span v-if="submit && !$v.user.email.required" class="text-red-8">Por favor ingresa tu email</span>
							<span v-if="submit && !$v.user.email.email" class="text-red-8">Ingresa una dirección de correo valida</span>
						</div>
						<div class="col-sm-12 col-xs-12 q-mt-lg q-mb-lg">
							<center><vs-button @click="recuperar" color="white" id="user-button" text-color="rgb(10, 20, 30)">Recuperar Contraseña</vs-button></center>
						</div>
						<div class="col-md-12 col-xs-12 col-sm-12 q-mt-sm" style="">
							<p class="text-center text-white" style="font-weight: 300; font-size: 12px">¿Tuienes una cuenta? <span @click="routerPush('login')" style="font-size:14px; " class="uppercase">Inícia Sesión</span></p>
						</div>
					</div>
				</q-card-section>
			</div>
		</q-card>
  </q-page>
</template>

<script>
const { required, email } = require('vuelidate/lib/validators')
import { Notify } from 'quasar'

export default {
  // name: 'PageName',
  validations: {
	user: {
	  email: {
		required,
		email
	  }
	}
  },
  data () {
    return {
	  user: {},
	  submit: false
    } 
  },
  methods: {
  	recuperar () {
  		this.submit = true
			this.$v.$touch()
			if (this.$v.$invalid) {
				return
			}
			let user = this.user
			this.$store.dispatch('auth/changePassword', { user })
				.then((resp) => {
					if (resp.data.errors) {
						Notify.create({
							message: resp.data.errors,
							type: 'negative',
							color: 'red-8',
							position: 'bottom-right'
						})
					} else if (resp.data.user) {
						this.routerPush('change/password')
					}
				})
				.catch(err => 
					Notify.create({
						message: '¡El correo no existe!',
						type: 'negative',
						color: 'red-8',
						position: 'bottom-right'
					})
				)
  	},
  	routerPush (key) {
  		this.$router.push({ path: key })
  	}
  }
}
</script>
