@font-face {
	font-family: 'poppins';
	src: url('./fonts/Poppins-Regular.otf');
}

*{
	font-family: 'poppins';
}
.font-500{
	font-weight: 800;
}
.q-tab__content{
	padding: 0px;
	width: 100%;
}

.bg-custom {
	border-radius: 0px;
}
.vs-inputx {
	background: transparent !important;
	width: 100%;
	border-color: white !important;
	border-radius: 10px !important;
}

#fb-logins{
	border-radius: 10px;
	height: 30px;
	padding: 0;
	font-size: 10px;
	width:80%;
}

#fb-logins2{
	border-radius: 10px;
	height: 30px;
	padding: 0;
	font-size: 10px;
	width:80%;
	margin-top: 0.5rem;
}

.vs-button-text{
	width: 100%;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	font-size: 12px;
}

#login-button{
	background: white!important;
	margin: 0px auto !important;
	border-radius: 10px;
	height:40px!important;
	padding-bottom: 5px;
	padding-top: 5px;
}
.login-card-overlay {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000040;
	z-index: 1 !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: red !important;
}

.input-span-placeholder{
	color: white !important;
}

.q-field__control {
	background: #630c7b91 !important;
}

.bottom-5{
	position: absolute;
	top: 20%;
	width: 100%;
}

.mt--12{
	margin-top: -15px;
}

.leaflet-popup-content {
	width: 250px !important;
	margin: 0px auto !important ;
}
.marker-popup-img{
	width: 100% !important;
	height: 130px;
	border-radius: 5px 5px 0px 0px;
}
.marker-popup-wrapper{
	position: absolute;
	z-index: 0;
	width: 100%;
}
.marker-popup-overlay{
	background: #1a19199e;
	position:absolute;
	z-index:1;
	top: 90px;
	width:240px ;
	height:40px;
	color: white;
	font-size: 14px;
}
.marker-popup-overlay-text{
	position: absolute;
	bottom: -15px;
	padding: 0.5em;
}
.leaflet-popup-content-wrapper{
	background: white !important;
	padding: 0px !important;
	border-radius: 5px !important;
}
.marker-popup-buttom{
	position: absolute;
	right: 5px;
	top: -10px;
	z-index: 3;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	padding: 0.3em;
	background: black !important;
	color: white !important;
	border: 0px;
	text-decoration: none !important;
	text-align: center;
	font-weight: 600;
}

::placeholder { color: blue !important; }

.my-card {
  width: 100%;
  border-radius: 0px !important;
}

.custom-caption{
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #0000008f !important;
}

.fixed-option-buttom{
	position:fixed;
	bottom: 45%;
	width:50px;
	right:0px;
	z-index: 1000
}

.button-fixed-radius {
	border-radius: 15px 0px 0px 15px;
	margin-top: 10px
}

.bg-black-2 {
	background: black !important
}

.scroll-type-food {
	height: 200px;
	background: white;
	border-radius: 10px;
}

.leaflet-popup-close-button {
	background: black !important;
	color: white !important;
	padding: 0px;
	top: 5px !important;
	right: 5px !important;
	border-radius: 50px
}

.gm-style .gm-style-iw-c {
	padding: 0px !important;
	border-radius: 5px !important;
	max-width: 240px !important;
}

.card-popup{
	width: 240px !important;
}

.popup-image {
	width: 240px !important;
}

.popup-img {
	width: 100%
}

.q-scrollarea__thumb {
	z-index: 5555555555555;
}

.gm-style-iw-d {
	overflow: hidden !important;
	max-width: 240px !important;
}

.gmnoprint {
	display: none !important;
}

.custom-item .q-item  {
	padding: 0px !important;
}

.custom-item .q-expansion-item__toggle-icon {
	background: white;
	color: black;
	border-radius: 50px;
}

.open-label {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 50;
}

.q-img__content > div {
    padding: 8px !important;
    font-size: 10px
}